.App {
  text-align: center;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(10, 56, 78);
  color: white;
}


.nav-links {
  width:10%;
  display:flex;
  justify-content: space-around;
  align-items: left;  
  list-style: none;
  
}


.btn-secondary {

  margin-bottom: 0px;
  margin-top: 0px;
}

.card {
align-items: center;
width: 60%;
margin-left: 20%;

}

.form-group {

  align-items: center;
  width: 60%;
  height: 40%;
  padding: 30px 25px; 
}


select#score {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  font-size: 20pt;

}

.score {

 text-align: center; 
}



input.btn-secondary {

  margin-bottom: 80px;

}


.form-control {
  height: 50px;
  font-size: x-large;
}


select#score {

  text-align: center;
  text-align-last:center;
}


.orderingButton {


  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
  outline: none;
   margin: 100px 900px 15px;

}

